.favoritos-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.lista-filmesfav{
    width: 100%;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

.lista-filmesfav ul{
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

.lista-filmesfav li{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn{
    margin-left: 10px;
    cursor: pointer;
    padding: 3px;
}

.detalhes{
    color: #116feb;
}

.aviso{
    width: 100%;
    font-size: 22px;
}