.erro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    gap: 10px;
}

.erro-container a{
    background-color: #006eff;
    color: aliceblue;
    border-radius: 3px;
    padding: 5px 10px;
}

.erro-container h1{
    font-size: 70px;
}